@model TypingMVCApp.ViewModels.TypingViewModel
@*@Scripts.Render("~/Scripts/yourScript.js")*@    @*miejsce gdzie mozesz zamiescic konkretny boundle*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <span class="text-dark" id="typed_content"></span><span class="blink_text">|</span><span id="book_content">@Model.BookPages[@Model.CurrentBookPage]</span>
</h1>
<h6 class="text-dark">
    <br />@Model.BookTitle.ToUpper() by @Model.BookAuthors
</h6>

<p class="stats">Hi</p>




<script type="text/javascript">
    // Global variables
    var currentBookPage = 0;
    var statsTypedCorrect = 0;
    var statsTypedWrong = 0;

    // NIE DZIAŁA
    //$(document).ready(function () {
    //    $("#stats").text("Hello world!");
    //});

    //$(document).ready(function () {
    //    alert("works!");
    //});



    // Typing
    document.onkeypress = function (e) {
        e = e || window.event;

        var book_content = document.getElementById('book_content').textContent;

        if (String.fromCharCode(e.which /*|| e.keyCode*/) === book_content.charAt(0)) {
            document.body.style.backgroundColor = "dimgray";

            document.getElementById('typed_content').innerHTML += book_content.charAt(0);
            document.getElementById('book_content').innerHTML = book_content.substr(1);

            if (document.getElementById('book_content').innerHTML === '') {
                window.location.href = "?bookID=1&bookPage=@(++Model.CurrentBookPage)";
            }
        }
        else {
            //var actualColor = document.body.style.backgroundColor;
            document.body.style.backgroundColor = "white";
        }
    };

</script>








