@model TypingMVCApp.ViewModels.TypingViewModel
@*@Scripts.Render("~/Scripts/yourScript.js")*@    @*miejsce gdzie mozesz zamiescic konkretny boundle*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <span class="text-dark" id="typed_content"></span><span class="blink_text">|</span><span id="book_content">@Model.BookPages[@Model.CurrentBookPage]</span>
</h1>
<h6 class="text-dark">
    <br />@Model.BookTitle.ToUpper() by @Model.BookAuthors
</h6>

<p class="stats">Dynaymic stats will came here</p>


<script type="text/javascript">
    this.typingBook(@Model.CurrentBookPage)
</script>