@model TypingMVCApp.ViewModels.TypingViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <span class="text-dark" id="typed_content"></span><span class="blink_text">|</span><span id="book_content">@Model.BookPages[@Model.CurrentBookPage]</span>
</h1>
<h6 class="text-dark">
    <br />@Model.BookTitle.ToUpper() by @Model.BookAuthors
</h6>



<script type="text/javascript">
    // Typing
    document.onkeypress = function (e) {
        e = e || window.event;

        var book_content = document.getElementById('book_content').textContent;
        //book_content = $('#book_content').textContent;

        //document.getElementById('kc').innerHTML = String.fromCharCode(e.keyCode);
        //document.getElementById('fc').innerHTML = book_content.charAt(0);


        if (String.fromCharCode(e.which /*|| e.keyCode*/) === book_content.charAt(0)) {

            document.getElementById('typed_content').innerHTML += book_content.charAt(0);
            document.getElementById('book_content').innerHTML = book_content.substr(1);

            if (document.getElementById('book_content').innerHTML === '') {
                //link wyonuje sie odrazuzzzzz
                window.location.href = "?bookID=1&bookPage=@(++Model.CurrentBookPage)"; //todo - zmiana stron CurrentBookPage++
                //todo po protu zaladuj tresc kolejnego page
                //document.getElementById('book_content').innerHTML = "@Model.BookPages[1]"
            }
        }
    };

    // Blink
    setInterval(function () {
        $('blink').each(function () {
            $(this).toggle();
        });
    }, 250);

</script>








