@{
    ViewData["Title"] = "Home Page";
}

<h1>ToDo</h1>
<h3>Press SPACE to start typing, SHIFT to change book and ESC to go to the settings </h3>

<script type="text/javascript">
    //jQueryTest();
    mainPageMenuShortcuts('@Url.Action("Index", "Typing")', '@Url.Action("Index", "Books")', '@Url.Action("Settings", "Home")')
</script>
