body {
    background-color: dimgray;
}

h1 {
    text-align: justify;
    text-justify: inter-word;
}

.menu {
    text-align: right;
}

/* apply when window width is less then.. */
@media only screen and (max-width: 800px) {
    .menu {
        display: none;
    }
}
/* apply when browser screen is bigger than.. */
@media only screen and (min-width: 800px) {
    .typingarea {
        padding-top: 50px;
    }
}